{% extends 'main/layout.html' %}

{% block title %}
    {% if status == 'login' %}
        Вход
    {% else %}
        Регистрация
    {% endif %}
{% endblock %}

{% block body %}
    <div class="auth-form">
        <form method="post">
            {% csrf_token %}
            {% for input in form %}
                {{ input }} <br>
                {% if input.errors != None %}
                    {{ input.errors }} <br>
                {% endif %}
            {% endfor %}
            {% if status == 'login' %}
                <button type="submit">Войти</button>
            {% else %}
                <button type="submit">Зарегистрироваться</button>
            {% endif %}

        </form>
        {% if status == 'login' %}
            <a href="{% url 'register' %}">Ещё не зарегистрированы?</a>
        {% else %}
            <a href="{% url 'login' %}">Уже зарегистрированы?</a>
        {% endif %}
    </div>
{% endblock %}